name: build

on:
  push: {}

jobs:
  build:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-build-test.yml@0.35.0
    with:
      install-node: true
      build-commands: |
        npm ci
        npm run package
      test-commands: npm test
